<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>속성 설정</h1>
<input name="mock" th:name="userA" type="text"/>
<h1>속성 추가</h1>
- th:attrappend = <input class="text" th:attrappend="class=' large'" type="text"/><br/>
- th:attrprepend = <input class="text" th:attrprepend="class='large '" type="text"/><br/>
- th:classappend = <input class="text" th:classappend="large" type="text"/><br/>
<h1>checked 처리</h1>
- checked o <input name="active" th:checked="true" type="checkbox"/><br/>
- checked x <input name="active" th:checked="false" type="checkbox"/><br/>
- checked=false <input checked="false" name="active" type="checkbox"/><br/>
</body>
</html>